<div class="characterDetailsContainer container-fluid" ng-click="characterDetailsExpanded = !characterDetailsExpanded">
	<div class="alwaysVisibleDetails">
		<div class="row">
			<div class="col-xs-1 characterDetailName">Name:</div>
			<div class="col-xs-11 col-sm-10 characterDetail">
				<span style="font-weight:bold; font-size:16px;">{{currentCharacter.name}}</span>
				<span ng-repeat="epithet in currentCharacter.epithets" style="font-style:italic;">{{$index==0?"  ":","}} "{{epithet}}"</span>
			</div>
		</div>		
		<div collapse="!characterDetailsExpanded" class="row">
			<div class="col-xs-1 characterDetailName">Lineage:</div>
			<div class="col-xs-11 col-sm-10 characterDetail">
				<span ng-repeat="ancestor in currentCharacter.pedigree">{{$index==0?"  ":","}} {{ancestor}}</span>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-2">Class:</div>
					<div class="characterDetail col-xs-10 col-sm-8">{{currentCharacter.class}}</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-2">Race:</div>
					<div class="characterDetail col-xs-10 col-sm-8">{{currentCharacter.race}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-3">Level:</div>
					<div class="characterDetail col-xs-10 col-sm-7">{{currentCharacter.level}}</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-3">XP:</div>
					<div class="characterDetail col-xs-10 col-sm-7">{{currentCharacter.xp}}</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-3">HP:</div>
					<div class="characterDetail col-xs-10 col-sm-7">{{currentCharacter.maxHp}}</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-3">Gold:</div>
					<div class="characterDetail col-xs-10 col-sm-7">{{currentCharacter.gold}}</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-3">Gossip:</div>
					<div class="characterDetail col-xs-10 col-sm-7">{{currentCharacter.gossip}}</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="characterDetailName col-xs-8 col-sm-3">Load:</div>
					<div class="characterDetail col-xs-10 col-sm-7">{{currentCharacter.loot.length + currentCharacter.gear.length}}/{{currentCharacter.maxEncumbrance}}</div>
				</div>
			</div>
		</div>
		<div collapse="!characterDetailsExpanded" class="row">
			<div class="col-xs-12 characterDetailName">Attributes:</div>
			<div class="col-xs-12 col-xs-offset-1 col-sm-5">
				<div ng-repeat="attribute in currentCharacter.attributes" class="col-xs-12 row">
					<div class="characterDetailBox col-xs-3">{{attribute.value}}</div>
					<div class="characterDetailName col-xs-9">{{attribute.friendlyName}}</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="characterDetailName col-xs-12 row">Gear:</div>
				<div ng-repeat="item in currentCharacter.gear" class="col-xs-12 col-sm-11 row characterDetail" style="margin-left:0">
					{{item.friendlyName}} ({{item.category}})
				</div>
			</div>
			<div class="col-xs-12">
				<div class="characterDetailName col-xs-12 row">Loot:</div>
				<div ng-repeat="item in currentCharacter.loot" class="col-xs-12 col-sm-11 row characterDetail" style="margin-left:0">
					{{item.quantity}}x {{item.friendlyName}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="characterDetailName col-xs-12 row">Spellbook:</div>
				<div ng-repeat="item in currentCharacter.spells" class="col-xs-12 col-sm-11 row characterDetail" style="margin-left:0">
					{{item.friendlyName}} {level: {{item.level}}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="characterDetailName col-xs-12 row">Abilities:</div>
				<div ng-repeat="item in currentCharacter.abilities" class="col-xs-12 col-sm-11 row characterDetail" style="margin-left:0">
					{{item.friendlyName}} {level: {{item.level}}}
				</div>
			</div>
		</div>
	</div>
</div>

<div ui-view style="padding-top:15px;" class="container-fluid"></div>

<div class="footerLink" ui-sref="history">View Task History</div>
